# Fixing permissions of packaged gems
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/10_fixing_permission.sh":
    content: |
        #!/usr/bin/env bash
 
        # . /opt/elasticbeanstalk/containerfiles/envvars
        . /opt/elasticbeanstalk/support/envvars
 
        CACHE_GEM_DIR=$EB_CONFIG_APP_ONDECK/vendor/cache
  
        if [ -d $CACHE_GEM_DIR ]
        then
          chown -R webapp:webapp $CACHE_GEM_DIR
          echo "Modified the owner of $CACHE_GEM_DIR files"
        else
          echo "Nothing in $CACHE_GEM_DIR"
        fi

        SIDEKIQ_LOG=/var/app/containerfiles/logs/sidekiq.log
        if [ ! -f $SIDEKIQ_LOG ]
        then
          touch $SIDEKIQ_LOG
          echo "Created a sidekiq log file"
        fi
        chown -R webapp:webapp $SIDEKIQ_LOG

        CRON_LOG=/var/app/containerfiles/logs/cron.log
        if [ ! -f $CRON_LOG ]
        then
          touch $CRON_LOG
          echo "Created a cron log file"
        fi
        chown -R webapp:webapp $CRON_LOG

        SIDEKIQ_PID=/var/app/support/pids/sidekiq.pid
        kill -9 `cat /var/app/support/pids/sidekiq.pid`
        
        if [ ! -f $SIDEKIQ_PID ]
        then
          touch $SIDEKIQ_PID
          echo "Created a sidekiq pid file"
        fi
        chown -R webapp:webapp $SIDEKIQ_PID

        true
    mode: "000755"