option_settings:
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 1000
  - option_name: RACK_ENV
    value: production
  - option_name: RAILS_ENV
    value: production
  - option_name: BUNDLE_WITHOUT
    value: test:development
  - option_name: RAILS_SKIP_ASSET_COMPILATION
    value: true