* * * * * /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake job:attach_streams'
0,5,10,15,20,25,30,35,40,45,50,55 * * * * /bin/bash -l -c 'cd /var/app/current && ./script/sidekiq_start.sh'
* * * * * ( sleep 30 ; /bin/bash -l -c 'cd /var/app/current && RAILS_ENV=production bundle exec rake job:attach_streams' )
