


.row{"ng-controller" => "meerkatSearchCtrl"}
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.center
      .show-for-medium-up
        %img(src="/logo.png" height=50)
      .row
        .small-1.columns.text-right
          .search-icon
            .hide-for-small
              %i.fi-magnifying-glass
        .small-8.columns.small-centered
          %input(type='text' ng-model='search' placeholder='@, # or Location')
      .row
        .small-5.columns
          %p.small-text-center
            %a{:href => "http://socialrest.com", target: "_blank"}a project by @socialrest
        .small-5.columns
          %p.small-text-center
            %a{:href => "http://twitter.com/socialrest", target: "_blank"}feature, bug, comment?
  %section.main
    .title
      Meerkat Lounge
    %ul.small-block-grid-1.medium-block-grid-1.large-block-grid-2
      %li.small-centered(ng-repeat="stream in streams")
        .panel.small-centered.text-left
          .head
            %p
              {{stream.caption}}
            .twicon
              %a(href="http://twitter.com/{{stream.broadcaster.name}}" target="_blank")
                %i.fi-social-twitter 
          .profile
            .small-4.columns
              %img(ng-src="{{stream.broadcaster.image}}")
            .small-8.columns
              {{stream.broadcaster.name}}

          .content   
            .row
              %video.video-js.vjs-default-skin{:id => "{{setId(stream.stream_identifier)}}", :autoplay => false, "data-setup" => '{ "techOrder": ["hls","flash"] }', :controls => true, :height => "255", :poster => "{{stream.cover}}", :preload => "none", :width => "100%"}
                %source{:src => "{{stream.playlist | trusted}}", :type => "video/mp4"}

            .row.footer
              .small-4.columns
                {{stream.broadcaster.name}}    
              .small-4.columns
                {{stream.location}}    
              .small-4.columns
                %i.fi-torsos-all
                  {{stream.watchers_count}}


 