.row{"ng-controller" => "MeerkatSearchCtrl"}
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li.name
        %h1
          %a{:href => "#"} Meerkat Finder
      / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone

    %ul.center
      .small-10.columns
        %input(type='text' ng-model='search' placeholder='@, # or Location')
  %h1.text-center
    Live Streams {{ exampleValue }}
  %ul.small-block-grid-1.medium-block-grid-1.large-block-grid-3
    %li(ng-repeat="stream in streams")
      .panel
        %h2 {{stream.caption}}
         
        %video.video-js.vjs-default-skin{:controls => "", :height => "400", "ng-src" => "{{stream.playlist}}", :poster => "{{stream.cover}}", :videojs => "", :width => "100%"}      
          

        .row.activity
          %i.fi-torsos-all 
            {{stream.watchers_count}}
          %i.fi-star
            {{stream.like_count || 0}}
          %i.fi-comment
            {{stream.comment_count || 0}}
          %i.fi-share
            {{stream.restream_count || 0}}
        %ul
          %li
            %i.fi-torso.large 
              {{stream.broadcaster.name}}
          %li
            %i.fi-marker.large 
              {{stream.location}}