
.row{"ng-controller" => "meerkatSearchCtrl", "ng-keyup" => "keyup($event)"}
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li.title
        %a(ng-click="window.location.reload()")
          %img(src="llama_logo.jpg" width=45)
          Llama Streams

      / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      / Right Nav Section
      %ul.right
        %li.has-dropdown
          %a{:href => "#"} 
            %i.fi-filter
            &nbsp;Filter
          %ul.dropdown
            %li.has-dropdown
              %a(href="#")Video type
              %ul.dropdown
                %li
                  %a(ng-class="typeSelection == 'all' ? 'selected' : ''" ng-click="selectionClick('all')")
                    all 
                    %i.fi-check(ng-show="typeSelection == 'all'")
                %li
                  %a(ng-class="typeSelection == 'meerkat' ? 'selected' : ''" ng-click="selectionClick('meerkat')")
                    meerkat
                    %i.fi-check(ng-show="typeSelection == 'meerkat'")
                %li
                  %a(ng-class="typeSelection == 'periscope' ? 'selected' : ''" ng-click="selectionClick('periscope')")
                    periscope
                    %i.fi-check(ng-show="typeSelection == 'periscope'")
                %li.divider
            %li
              %a(ng-click="resetFilters()")Reset
        / %li.active
        /   %a{:href => "mailto::info@socialrest.me"}Help

      %ul.right
        %li
          %input#mainsearch(type='text' ng-model='search' placeholder='Search streams')/
        %li
          %a.search-top.button.expand(ng-click="searchSubmit()")
            Search

           
  %section.main
    %ul.small-block-grid-1.medium-block-grid-3.large-block-grid-4
      %li.small-centered(ng-repeat="stream in streams")
        .panel.small-centered.text-left
          .head(ng-class="stream.stream_type == 'meerkat' ? 'meerkat' : 'periscope'")
            .name
              {{'@' + stream.broadcaster.name}}
              
              %a(href="http://twitter.com/{{stream.broadcaster.name}}" target="_blank")
                .twicon
                  %i.fi-social-twitter 
          .profile
            .image
              %img(ng-src="{{stream.broadcaster.image}}")
            .caption
              {{stream.caption}}

          .content   
            .row
              .innerContainer(ng-click="streamClick($event, stream)")
                %img(src="{{stream.cover}}" width="100%" onerror="this.src='black_image.jpg'")
          %a(ng-show="stream.stream_type == 'meerkat'" href="http://meerkatapp.co/{{stream.broadcaster.name}}" target="_blank")
            .follow(ng-class="stream.stream_type == 'meerkat' ? 'meerkat' : 'periscope'")
              Follow
          .footer
            .location
              {{stream.location}}    
            .activity
              %i.fi-torsos-all
                {{stream.watchers_count}}
              %i.fi-comment
                {{stream.comments_count || 0}}
              %i.fi-heart
                {{stream.likes-count || 0}}
              %i.fi-share
                {{stream.restreams-count || 0}}

  / .blurlayer
  / .search
  /   %input#mainsearch(type='text' ng-model='search' placeholder='@, # or Location')
  /   .searchsubmit
  /     %i.fi-magnifying-glass(onclick="$('.searchtop').click()")



 