.row{"ng-controller" => "meerkatSearchCtrl"}
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.center
      .show-for-medium-up
        %img(src="/logo.png" height=50)
      .row
        .small-1.columns.text-right
          .search-icon
            .hide-for-small
              %i.fi-magnifying-glass
        .small-8.columns.small-centered
          %input(type='text' ng-model='search' placeholder='@, # or Location')
      .row
        .small-5.columns
          %p.small-text-center
            %a{:href => "http://socialrest.com", target: "_blank"}a project by @socialrest
        .small-5.columns
          %p.small-text-center
            %a{:href => "http://twitter.com/socialrest", target: "_blank"}feature, bug, comment?
  %section.main
    %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
    
      %li.small-centered(ng-repeat="stream in streams")
        %video.video-js.vjs-default-skin{:id => "{{stream.stream_identifier}}", :autoplay => false, "data-setup" => '{ "techOrder": ["flash"] }', :controls => true, :height => "320", :poster => "{{stream.cover}}", :preload => "none", :width => "320"}
          %source{:src => "{{stream.playlist | trusted}}", :type => "video/flv"}


 