
.row{"ng-controller" => "meerkatSearchCtrl", "ng-keyup" => "keyup($event)"}
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    .center
      .show-for-medium-up.tinylogo
        %img(src="/logo.png" height=50)
      .title
        Meerkat Lounge
        .credit
          %p.small-text-center
            %a{:href => "http://socialrest.com", target: "_blank"}by @socialrest    
        .comment
          %p.small-text-center
            search and browse live streams.    
      
     
           
  %section.main
    .top.text-center
      %ul.tag
        %li.tag.searchtop
          %i.fi-magnifying-glass
        %li.alltype.tag(ng-class="typeSelection == 'all' ? 'selected' : ''" ng-click="selectionClick('all')")
          all
        .divider.small-only
        %li.meerkattype.tag(ng-class="typeSelection == 'meerkat' ? 'selected' : ''" ng-click="selectionClick('meerkat')")
          meerkat
        %li.periscopetype.tag(ng-class="typeSelection == 'periscope' ? 'selected' : ''" ng-click="selectionClick('periscope')")
          periscope
    %ul.small-block-grid-1.medium-block-grid-3.large-block-grid-4
      %li.small-centered(ng-repeat="stream in streams")
        .panel.small-centered.text-left
          .head(ng-class="stream.stream_type == 'meerkat' ? 'meerkat' : 'periscope'")
            .name
              {{'@' + stream.broadcaster.name}}
              .twicon
                %a(href="http://twitter.com/{{stream.broadcaster.name}}" target="_blank")
                %i.fi-social-twitter 
          .profile
            .image
              %img(ng-src="{{stream.broadcaster.image}}")
            .caption
              {{stream.caption}}

          .content   
            .row
              .innerContainer(ng-click="streamClick($event, stream)")
                %img(src="{{stream.cover}}" height=255 width="100%")
          %a(href="http://meerkatapp.co/{{stream.broadcaster.name}}" target="_blank")
            .follow(ng-class="stream.stream_type == 'meerkat' ? 'meerkat' : 'periscope'")
              Follow
          .footer
            .location
              {{stream.location}}    
            .activity
              %i.fi-torsos-all
                {{stream.watchers_count}}
              %i.fi-comment
                {{stream.comments_count || 0}}
              %i.fi-heart
                {{stream.likes-count || 0}}
              %i.fi-share
                {{stream.restreams-count || 0}}

  .blurlayer
  .search
    %input#mainsearch(type='text' ng-model='search' placeholder='@, # or Location')



 