// Place all the styles related to the streams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
	border-color: black;
	.activity {
		text-align: center;
	}
	.fi-torsos-all, .fi-star, .fi-comment, .fi-share {
		font-style: normal;
		font-size: 16px;

		margin: 2px;
	}

	h2 {
		overflow: hidden;
	}
}	

section {
	.main {
		margin: 40px;
		padding-top: 65px;
	}
}

.search-icon {
	color: white;
  font-size: 22px;
  margin-top: 25px;
}

nav {
	z-index: 100;
	input {
		margin: 10px !important;
	}
	a {
		color: white !important;
	}
	img {
		height: 50px;
		float: left;
		margin-top: 10px;
		margin-left: 5px;
	}
}

#logotop {
	color: #333333;
	font-size: 22px;
	font-weight: bold;
	font-family: verdana, arial, helvetica, sans-serif
	img {
	  float:right!important;
	}
}

.panel {
	z-index: -1;
	height: auto;
	max-width: 450px;
	i {
		font-size: 32px!important;
	}
	.fi-social-twitter {
		color: #4090ff!important;
	}
	img {
		border: black;
		border-width: 1px;
		border-style: solid;
	}
}